[defaults]
inventory          = inventory/hosts.yml
host_key_checking  = False
remote_user        = ubuntu
private_key_file   = k3s_key
stdout_callback    = yaml
callbacks_enabled  = timer, profile_tasks

[privilege_escalation]
become      = True
become_method = sudo
