# Diese Datei nach terraform.tfvars kopieren und Werte anpassen.
# terraform.tfvars wird NICHT ins Git eingecheckt (steht in .gitignore).

proxmox_endpoint  = "https://127.0.0.1:8006/"   # aus der Proxmox-Shell: 127.0.0.1
proxmox_username  = "terraform@pve"
proxmox_password  = "DeinProxmoxPasswort"
proxmox_node      = "pve"                        # Name deines Proxmox-Hosts (Hostname)
proxmox_ssh_host  = "192.168.2.10"               # IP des Proxmox-Hosts für SSH
proxmox_storage   = "local-lvm"

# SSH Public Key — wird in die VMs via cloud-init eingespielt
# Generieren falls noch keiner vorhanden: ssh-keygen -t ed25519
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIv01yRI8mY6cOVlaBknDTqoQpy4qPbjCcDJ0s4nY5HA"

network_bridge  = "vmbr0"
network_gateway = "192.168.2.1"                  # Gateway anpassen

master_ip  = "192.168.2.21/24"
worker_ips = ["192.168.2.22/24", "192.168.2.23/24"]

vm_master_id       = 200
vm_worker_id_start = 201

master_cores     = 2
master_memory_mb = 4096
master_disk_gb   = 30

worker_cores     = 2
worker_memory_mb = 4096
worker_disk_gb   = 30
